<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="SoftFaaliyetEntities" connectionString="metadata=res://*/SoftFaaliyet.csdl|res://*/SoftFaaliyet.ssdl|res://*/SoftFaaliyet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SoftFaaliyet;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>